{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        <div class="product-list-container">
            {% for product in products %}
                <div class="col-4 my-2">
                    <div class="item card">
                        <a class="img-container" href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}