{% extends "shop/base.html" %}
{% load static %}

<!--{% include 'includes/products_category.html' %}-->

{% block content %}
<div id="main" class="product-list">
    <h1>{% if products %}{{ product.name }}{% else %}Products{% endif %}</h1>
    <div class="product-list-container">
        {% for c in categories_context %}
        <div class="col-4 my-2">
            <div class="item card">
                <a class="img-container" href="{% url 'shop:product_by_category' c.slug  %}">
                    <img src="{% if c.image %}{{ c.image.url }}{% else %}{% static 'img/no_image' %}{% endif %}">
                </a>
                <a href="{% url 'shop:product_by_category' c.slug %}">{{ c.name }}</a><br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}