{% load categories_tags %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vitae Market - Healthy taste</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="../../static/assets/images/favicon.svg">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="../../static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Elegent CSS -->
    <link href="../../static/assets/css/elegent.min.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="../../static/assets/css/plugins.css" rel="stylesheet">

    <!-- Helper CSS -->
    <link href="../../static/assets/css/helper.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="../../static/assets/css/main.css" rel="stylesheet">

    <!-- Base CSS  -->
    <link href="../../static/css/base.css" rel="stylesheet">
    <!-- Modernizer JS -->
    <script src="../../static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="../../static/assets/js/vendor/jquery.min.js"></script>
    <script src="../../static/js/main.js"></script>

</head>

<body>
<!--=============================================
=            Header         =
=============================================-->

<header>
    <!--=======  header top  =======-->

    <!--=======  End of header top  =======-->

    <!--=======  header bottom  =======-->

    <div class="header-bottom header-bottom-one header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
                    <!-- logo -->
                    <div class="logo mt-15 mb-15">
                        <a href="{% url 'shop:home_list' %}">
                            <img src="../../static/assets/images/vm-logo.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- end of logo -->
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="menubar-top d-flex justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15">
                        <!-- header search bar -->
                        <div class="">
{#                            <form action="#">#}
{#                                <input type="text" placeholder="Поиск">#}
{#                                <button><span class="icon_search"></span></button>#}
{#                            </form>#}
                        </div>
                        <!-- end of search bar -->
                        <!-- header phone number -->
                        <div class="header-contact d-flex">
                            <div class="phone-icon">
                                <img src="../../static/assets/images/icon-phone.png" class="img-fluid" alt="">
                            </div>
                            <div class="phone-number">
                                <div class="cart-info d-inline-block">
                                    <a href="tel:+996551666000"> Звоните нам <br>+996-551-666-000 </a>
<!--                                    Phone: <span class="number"> +996-551-66-60-00</span>-->
                                </div>
                            </div>
                            <!-- end of header phone number -->

                            <!-- cart floating box -->

                            <!-- end of cart floating box -->
                        </div>
                    </div>

                    <!-- navigation section -->
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="{% url 'shop:home_list' %}">Главная</a></li>
                                <li><a href="{% url 'shop:all-products2' %}">Интернет-Магазин</a></li>
                                <li><a href="{% url 'shop:contact_list' %}">Контакты</a></li>
                                <li class="active menu"><a href="{% url 'shop:wholesalers_list' %}">Оптовый заказ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end of navigation section -->
                </div>
                <div class="col-12">
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of header bottom  =======-->
</header>

<!--=====  End of Header  ======-->

<!--=============================================
=            breadcrumb area         =
=============================================-->

<!--<div class="breadcrumb-area mb-50">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <div class="breadcrumb-container">-->
<!--                    <ul>-->
<!--                        <li><a href="{% url 'shop:home_list' %}"><i class="fa fa-home"></i> Главная</a></li>-->
<!--                        <li class="active">Магазин</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            Shop page container         =
=============================================-->

<!--<div class="shop-page-container mb-50">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 order-2 order-lg-1">-->
<!--                &lt;!&ndash;=======  sidebar area  =======&ndash;&gt;-->

<!--                <div class="sidebar-area">-->
<!--                    &lt;!&ndash;=======  single sidebar  =======&ndash;&gt;-->

<!--                    <div class="sidebar mb-35">-->
<!--                        <h3 class="sidebar-title">PRODUCT CATEGORIES</h3>-->
<!--                        <ul class="product-categories">-->
<!--                            <li {% if not category %}class="selected" {% endif %}>-->
<!--                                <a class="selected-item" id="all-selected" href="{% url 'shop:all-products' %}">All</a>-->
<!--                                    </li>-->
<!--                                    {% for c in categories %}-->
<!--                                    <li {% if category.slug == c.slug %}class="selected" {% endif %}>-->
<!--                                <a class="selected-item" id={{c.slug}}-->
<!--                                   href="{% url 'shop:product_list_by_category' c.slug %}">{{ c.name }}</a>-->
<!--                            </li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                    </div>-->

<!--                    &lt;!&ndash;=======  End of single sidebar  =======&ndash;&gt;-->
<!--                    &lt;!&ndash;=======  single sidebar  =======&ndash;&gt;-->

<!--                    <div class="sidebar mb-35">-->
<!--                        <h3 class="sidebar-title">Top rated products</h3>-->

<!--                        &lt;!&ndash;=======  top rated product container  =======&ndash;&gt;-->

<!--                        <div class="top-rated-product-container">-->
<!--                            &lt;!&ndash;=======  single top rated product  =======&ndash;&gt;-->

<!--                            <div class="single-top-rated-product d-flex align-content-center">-->
<!--                                <div class="image">-->
<!--                                    <a href="single-product.html">-->
<!--                                        <img src="/media/products/2020/05/25/%D0%B3%D1%80%D0%B5%D1%87%D0%BD%D0%B5%D0%B2%D0%B0%D1%8F_R.jpg"-->
<!--                                             class="img-fluid" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div class="content">-->
<!--                                    <p><a href="single-product.html"> Мука ржаная цельнозерновая, 1 кг/10шт. </a></p>-->
<!--                                    <p class="product-rating">-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;=======  End of single top rated product  =======&ndash;&gt;-->
<!--                            &lt;!&ndash;=======  single top rated product  =======&ndash;&gt;-->

<!--                            <div class="single-top-rated-product d-flex align-content-center">-->
<!--                                <div class="image">-->
<!--                                    <a href="single-product.html">-->
<!--                                        <img src="/media/products/2020/05/25/%D0%9A%D0%BE%D0%BD%D0%BE%D0%BF%D0%BB%D1%8F%D0%BD%D0%BE-%D0%BB%D1%8C%D0%BD%D1%8F%D0%BD%D0%BE%D0%B5_250_%D0%BC%D0%BB.jpg"-->
<!--                                             class="img-fluid" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div class="content">-->
<!--                                    <p><a href="single-product.html">Масло конопляное (250 мл)</a></p>-->
<!--                                    <p class="product-rating">-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->

                            <!--=======  End of single top rated product  =======-->
                            <!--=======  single top rated product  =======-->

<!--                            <div class="single-top-rated-product d-flex align-content-center">-->
<!--                                <div class="image">-->
<!--                                    <a href="single-product.html">-->
<!--                                        <img src="/media/products/2020/05/25/%D0%AD%D0%BB_%D0%9A%D0%BB%D0%B5%D0%BE%D0%BF%D0%B0%D1%82%D1%80%D1%8B_R.jpg"-->
<!--                                             class="img-fluid" alt="">-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div class="content">-->
<!--                                    <p><a href="single-product.html">Эликсир "Клеопатры" 200 мл. </a></p>-->
<!--                                    <p class="product-rating">-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                        <i class="fa fa-star active"></i>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash;=======  End of single sidebar  =======&ndash;&gt;-->

                    <!--=======  single sidebar  =======-->

<!--                    <div class="sidebar">-->
<!--                        <h3 class="sidebar-title">Product Tags</h3>-->
<!--                        &lt;!&ndash;=======  tag container  =======&ndash;&gt;-->

<!--                        <ul class="tag-container">-->
<!--                            <li><a href="shop-left-sidebar.html">new</a></li>-->
<!--                            <li><a href="shop-left-sidebar.html">bags</a></li>-->
<!--                            <li><a href="shop-left-sidebar.html">kids</a></li>-->
<!--                        </ul>-->

                        <!--=======  End of tag container  =======-->
<!--                    </div>-->

                    <!--=======  End of single sidebar  =======-->
<!--                </div>-->

                <!--=======  End of sidebar area  =======-->
<!--            </div>-->
<!--            <div class="col-lg-9 order-1 order-lg-2 mb-sm-35 mb-xs-35">-->

                <!--=======  shop page banner  =======-->

<!--                <div class="shop-page-banner mb-35">-->
<!--                    <a href="{% url 'shop:home_list' %}">-->
<!--                        <img src="../../static/assets/images/banners/shop-banner.jpg" class="img-fluid" alt="">-->
<!--                    </a>-->
<!--                </div>-->

                <!--=======  End of shop page banner  =======-->

                <!--=======  Shop header  =======-->

<!--                <div class="shop-header mb-35">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">-->
<!--                            &lt;!&ndash;=======  view mode  =======&ndash;&gt;-->

<!--                            <div class="view-mode-icons mb-xs-10">-->
<!--                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>-->
<!--                                <a href="#" data-target="list"><i class="fa fa-list"></i></a>-->
<!--                            </div>-->

                            <!--=======  End of view mode  =======-->

<!--                        </div>-->
<!--                        <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">-->
<!--                            &lt;!&ndash;=======  Sort by dropdown  =======&ndash;&gt;-->

<!--                            <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">-->
<!--                                <p class="mr-10">Cортировать по: </p>-->
<!--                                <select name="sort-by" id="sort-by" class="nice-select">-->
<!--                                    <option value="0">Популярности</option>-->
<!--                                    <option value="0">По Цене: от низкой к высокой</option>-->
<!--                                    <option value="0">По Цене: от высокой к низкой</option>-->
<!--                                </select>-->
<!--                            </div>-->

                            <!--=======  End of Sort by dropdown  =======-->

<!--                            <p class="result-show-message">Отображение результатов</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <!--=======  End of Shop header  =======-->

                <!--=======  Grid list view  =======-->

<!--                <div class="shop-product-wrap mb-35">-->

                    <!--=======  Grid view product  =======-->
                    {% block content %}
                    {% endblock %}
                </div>
                <!--=======  End of Grid list view  =======-->
                <!--=======  Pagination container  =======-->

                <!--=======  Slaider container  =======-->
                {% block slider %}
                {% endblock %}

                <!--=======  End of Slaider container  =======-->


                <!--=======  Pagination container  =======-->

<!--                {% include 'includes/pagination.html' %}-->

                <!--=======  End of Pagination container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of Shop page container  ======-->


<!--=============================================
=            Footer         =
=============================================-->

<footer>
    <!--=======  newsletter section  =======-->

    <div class="newsletter-section pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-20 mb-xs-20">
                    <!--=======  newsletter title =======-->

                    <div class="newsletter-title">
                        <h1>
                            <img src="../../static/assets/images/icon-newsletter.png" alt="">
                            <a href="https://wa.me/996551666000"> Напишите Нам в <br> WhatsApp </a>
                        </h1>
                        </h1>
                    </div>

                    <!--=======  End of newsletter title  =======-->
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12">
                    <!--=======  subscription-form wrapper  =======-->

                    <div class="subscription-form-wrapper d-flex flex-wrap flex-sm-nowrap">
                        <p class="mb-xs-20">Подпишитесь на нашу рассылку, чтобы получать последние новости</p>
                        <div class="subscription-form">
                            <form id="mc-form" class="mc-form subscribe-form">
                                <input type="email" id="mc-email" autocomplete="off" placeholder="Ваш email">
                                <button id="mc-submit" type="submit">Подписывайся!</button>
                            </form>

<!--                            &lt;!&ndash; mailchimp-alerts Start &ndash;&gt;-->
<!--                            <div class="mailchimp-alerts">-->
<!--                                <div class="mailchimp-submitting"></div>-->
<!--                                &lt;!&ndash; mailchimp-submitting end &ndash;&gt;-->
<!--                                <div class="mailchimp-success"></div>-->
<!--                                &lt;!&ndash; mailchimp-success end &ndash;&gt;-->
<!--                                <div class="mailchimp-error"></div>-->
<!--                                &lt;!&ndash; mailchimp-error end &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; mailchimp-alerts end &ndash;&gt;-->
                        </div>
                    </div>

                    <!--=======  End of subscription-form wrapper  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of newsletter section  =======-->

    <!--=======  social contact section  =======-->

    <div class="social-contact-section pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 order-2 order-md-2 order-sm-2 order-lg-1">
                    <!--=======  social media links  =======-->

                    <div class="social-media-section">
                        <h2>Подпишитесь на нас </h2>
                        <div class="social-links">
                            <a class="facebook" href="https://www.facebook.com/profile.php?id=100026075733249" data-tooltip="Facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a class="instagram" href="https://www.instagram.com/vitaemarket_/" data-tooltip="Instagram"><i
                                    class="fa fa-instagram"></i></a>


                        </div>
                    </div>

                    <!--=======  End of social media links  =======-->

                </div>
                <div class="col-lg-8 col-md-12 order-1 order-md-1 order-sm-1 order-lg-2  mb-sm-50 mb-xs-50">
                    <!--=======  contact summery  =======-->

                    <div class="contact-summery">
                        <h2>Связаться с нами</h2>

                        <!--=======  contact segments  =======-->

                        <div class="contact-segments d-flex justify-content-between flex-wrap flex-lg-nowrap">
                            <!--=======  single contact  =======-->

                            <!--                            <div class="single-contact d-flex mb-xs-20">-->
                            <!--                                <div class="icon">-->
                            <!--                                    <span class="icon_pin_alt"></span>-->
                            <!--                                </div>-->
                            <!--                                <div class="contact-info">-->
                            <!--                                    <p>Address: <span>123 New Design Str, Melbourne, Australia</span></p>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <!--=======  End of single contact  =======-->
                            <!--=======  single contact  =======-->

                            <div class="single-contact d-flex mb-xs-20">
                                <div class="icon">
                                    <span class="icon_mobile"></span>
                                </div>
                                <div class="contact-info">
                                    <a href="tel:+996551666000"> Звоните нам <br>+996-551-666-000 </a>
                                </div>
                            </div>

                            <!--=======  End of single contact  =======-->
                            <!--=======  single contact  =======-->

                            <div class="single-contact d-flex">
                                <div class="icon">
                                    <span class="icon_mail_alt"></span>
                                </div>
                                <div class="contact-info">
                                    <a href="mailto:vitaemarket@mail.ru">vitaemarket@mail.ru</a>
                                </div>
                            </div>

                            <!--=======  End of single contact  =======-->
                        </div>

                        <!--=======  End of contact segments  =======-->

                    </div>

                    <!--=======  End of contact summery  =======-->

                </div>
            </div>
        </div>
    </div>

    <!--=======  End of social contact section  =======-->

    <!--=======  footer navigation  =======-->

    <!--    <div class="footer-navigation-section pt-40 pb-40">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">-->
    <!--                    &lt;!&ndash;=======  single navigation section  =======&ndash;&gt;-->

    <!--                    <div class="single-navigation-section">-->
    <!--                        <h3 class="nav-section-title">INFORMATION</h3>-->
    <!--                        <ul>-->
    <!--                            <li> <a href="about-us.html">About Us</a></li>-->
    <!--                            <li> <a href="#">Delivery Information</a></li>-->
    <!--                            <li> <a href="#">Privacy Policy</a></li>-->
    <!--                        </ul>-->
    <!--                    </div>-->

    <!--                    &lt;!&ndash;=======  End of single navigation section  =======&ndash;&gt;-->
    <!--                </div>-->
    <!--                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">-->
    <!--                    &lt;!&ndash;=======  single navigation section  =======&ndash;&gt;-->

    <!--                    <div class="single-navigation-section">-->
    <!--                        <h3 class="nav-section-title">MY ACCOUNT</h3>-->
    <!--                        <ul>-->
    <!--                            <li> <a href="my-account.html">My Account</a></li>-->
    <!--                            <li> <a href="wishlist.html">Wishlist</a></li>-->
    <!--                            <li> <a href="cart.html">Shopping Cart</a></li>-->
    <!--                        </ul>-->
    <!--                    </div>-->

    <!--                    &lt;!&ndash;=======  End of single navigation section  =======&ndash;&gt;-->
    <!--                </div>-->
    <!--                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">-->
    <!--                    &lt;!&ndash;=======  single navigation section  =======&ndash;&gt;-->

    <!--                    <div class="single-navigation-section">-->
    <!--                        <h3 class="nav-section-title">CUSTOMER SERVICE</h3>-->
    <!--                        <ul>-->
    <!--                            <li> <a href="#">OUR SERVICE</a></li>-->
    <!--                            <li> <a href="#">RETURNS</a></li>-->
    <!--                            <li> <a href="#">SITE MAP</a></li>-->
    <!--                        </ul>-->
    <!--                    </div>-->

    <!--                    &lt;!&ndash;=======  End of single navigation section  =======&ndash;&gt;-->
    <!--                </div>-->
    <!--                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">-->
    <!--                    &lt;!&ndash;=======  single navigation section  =======&ndash;&gt;-->

    <!--                    <div class="single-navigation-section">-->
    <!--                        <h3 class="nav-section-title">Extras</h3>-->
    <!--                        <ul>-->
    <!--                            <li> <a href="#">GIFT VOUCHERS</a></li>-->
    <!--                            <li> <a href="#">AFFILIATES</a></li>-->
    <!--                            <li> <a href="#">SPECIALS</a></li>-->
    <!--                        </ul>-->
    <!--                    </div>-->

    <!--                    &lt;!&ndash;=======  End of single navigation section  =======&ndash;&gt;-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--=======  End of footer navigation  =======-->


    <!--=======  copyright section  =======-->

<!--    <div class="copyright-section pt-35 pb-35">-->
<!--        <div class="container">-->
<!--            <div class="row align-items-md-center align-items-sm-center">-->
<!--                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-left">-->
<!--                    &lt;!&ndash;=======  copyright text   =======&ndash;&gt;-->

<!--                    <div class="copyright-segment">-->
<!--                        <p>-->
<!--                            <a href="#">Privacy Policy</a>-->
<!--                            <span class="separator">|</span>-->
<!--                            <a href="#">Term and conditions</a>-->
<!--                        </p>-->
<!--                        <p class="copyright-text">&copy; 2020 <a href="/">Vitae Market</a>. Design by Maker's </p>-->
<!--                    </div>-->

                    <!--=======  End of copyright text    =======-->

<!--                </div>-->
<!--                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">-->
<!--                    &lt;!&ndash;=======  payment info  =======&ndash;&gt;-->

<!--                    <div class="payment-info text-center text-md-right">-->
<!--                        <p>Оплатить с помощью <img src="../../static/assets/images/payment-icon.png" class="img-fluid"-->
<!--                                                   alt=""></p>-->
<!--                    </div>-->

                    <!--=======  End of payment info  =======-->

                </div>
            </div>
        </div>
    </div>

    <!--=======  End of copyright section  =======-->
</footer>

<!--=====  End of Footer  ======-->

<!--=============================================
=            Quick view modal         =
=============================================-->

<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-xs-12">
                        <!-- product quickview image gallery -->
                        <div class="product-image-slider">
                            <!--Modal Tab Content Start-->
                            <div class="tab-content product-large-image-list" id="myTabContent">
                                <div class="tab-pane fade show active" id="single-slide1" role="tabpanel"
                                     aria-labelledby="single-slide-tab-1">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="../../static/assets/images/products/product01.jpg" class="img-fluid"
                                             alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide2" role="tabpanel"
                                     aria-labelledby="single-slide-tab-2">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="../../static/assets/images/products/product02.jpg" class="img-fluid"
                                             alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide3" role="tabpanel"
                                     aria-labelledby="single-slide-tab-3">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="../../static/assets/images/products/product03.jpg" class="img-fluid"
                                             alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div class="tab-pane fade" id="single-slide4" role="tabpanel"
                                     aria-labelledby="single-slide-tab-4">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img src="../../static/assets/images/products/product04.jpg" class="img-fluid"
                                             alt="">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                            </div>
                            <!--Modal Content End-->
                            <!--Modal Tab Menu Start-->
                            <div class="product-small-image-list">
                                <div class="nav small-image-slider" role="tablist">
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img
                                                src="../../static/assets/images/products/product01.jpg"
                                                class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img
                                                src="../../static/assets/images/products/product02.jpg"
                                                class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img
                                                src="../../static/assets/images/products/product03.jpg"
                                                class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img
                                                src="../../static/assets/images/products/product04.jpg"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!--Modal Tab Menu End-->
                        </div>
                        <!-- end of product quickview image gallery -->
                    </div>
                    <div class="col-lg-7 col-md-6 col-xs-12">
                        <!-- product quick view description -->
                        <div class="product-feature-details">
                            <h2 class="product-title mb-15">Kaoreet lobortis sagittis laoreet</h2>

                            <h2 class="product-price mb-15">
                                <span class="main-price">$12.90</span>
                                <span class="discounted-price"> $10.00</span>
                            </h2>

                            <p class="product-description mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis
                                vulputate, tristique ut lectus</p>


                            <div class="cart-buttons mb-20">
                                <div class="pro-qty mr-10">
                                    <input type="text" value="1">
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>


                            <div class="social-share-buttons">
                                <h3>share this product</h3>
                                <ul>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of product quick view description -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--=====  End of Quick view modal  ======-->

<!-- scroll to top  -->
<a href="#" class="scroll-top"></a>
<!-- end of scroll to top -->

<!-- JS
============================================ -->
<!-- jQuery JS -->
<script src="../../static/assets/js/vendor/jquery.min.js"></script>

<!-- Popper JS -->
<script src="../../static/assets/js/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="../../static/assets/js/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="../../static/assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="../../static/assets/js/main.js"></script>

</body>

</html>