{% load categories_tags %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vitae Market -- Healthy taste</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="../../static/assets/images/favicon.svg">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="../../static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Elegent CSS -->
    <link href="../../static/assets/css/elegent.min.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="../../static/assets/css/plugins.css" rel="stylesheet">

    <!-- Helper CSS -->
    <link href="../../static/assets/css/helper.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="../../static/assets/css/main.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="../../static/assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
<header>
    <div class="header-bottom header-bottom-one header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
                    <!-- logo -->
                    <div class="logo mt-15 mb-15">
                        <a href="{{ home_list }}">
                            <img src="../../static/assets/images/vm-logo.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="menubar-top d-flex justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15">

                        <!-- search bar -->
<!--                        <div class="">-->
<!--                            <form action="#">-->
<!--                                <input type="text" placeholder="Поиск">-->
<!--                                <button><span class="icon_search"></span></button>-->
<!--                            </form>-->
<!--                        </div>-->
                        <!-- end of search bar -->

                        <!-- header phone number -->
                        <div class="header-contact d-flex">
                            <div class="phone-icon">
                                <img src="../../static/assets/images/icon-phone.png" class="img-fluid" alt="">
                            </div>
                            <div class="phone-number">
                                <div class="cart-info d-inline-block">
                                    <a href="tel:+996551666000"> Звоните нам <br>+996-551-666-000 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="active menu"><a href="{% url 'shop:home_list' %}">Главная</a></li>
                                <li><a href="{% url 'shop:get_all_category'%}">Интернет-Магазин</a></li>
                                <li><a href="{% url 'shop:contact_list' %}">Контакты</a></li>
                                <li><a href="{% url 'shop:wholesalers_list' %}">Оптовый заказ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end of navigation section -->
                </div>
                <div class="col-12">
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="hero-slider-with-category-container mt-35 mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--=======  slider left category  =======-->

                <div class="hero-side-category">
                    <!-- Category Toggle Wrap -->
                    <div class="category-toggle-wrap">
                        <!-- Category Toggle -->
                        <button class="category-toggle"> <span class="arrow_carrot-right_alt2 mr-2"></span> Все категории</button>
                    </div>

                    <!-- Category Menu -->
                    <nav class="category-menu">
                        <ul>
                            {% for c in categories_context %}
                            <li class="menu-item-has-children"><a class="megamenu-head" href="{% url 'shop:product_by_category' c.slug %}">{{ c.name }}</a>
                                {% endfor %}
                            <li><a href="{% url 'shop:get_all_category' %}"><span class="icon_plus_alt2"></span> Еще категории</a></li>
                        </ul>

                    </nav>
                </div>
                <!--=======  End of slider left category  =======-->
            </div>

            <div class="col-lg-9 col-md-12">
                <!--=======  slider container  =======-->

                <div class="slider-container">
                    <!--=======  Slider area  =======-->

                    <div class="hero-slider-two">
                        <!--=======  hero slider item  =======-->

                        <div class="hero-slider-item slider-bg-3">
                            <div class="slider-content">
<!--                                <h1>Органическая еда </h1>-->
<!--                                <h1 class="change-text">Скидка до <span>50%</span></h1>-->

<!--                                <p><img src="../../static/assets/images/icon-slider.png" alt=""> <span>Экономия до 10%</span></p>-->
<!--                                <p><img src="../../static/assets/images/icon-slider.png" alt=""> <span>Бесплатная доставка</span></p>-->
<!--                                <p><img src="../../static/assets/images/icon-slider.png" alt=""> <span>Возврат за 24 часа</span></p>-->

<!--                                <a href="shop-left-sidebar.html" class="slider-two-btn mt-20">Начните покупать сейчас!</a>-->
                            </div>
                        </div>

                        <!--=======  End of hero slider item  =======-->


                        <!--=======  Hero slider item  =======-->

                        <div class="hero-slider-item slider-bg-4">
                            <div class="slider-content">
<!--                                <h1>Органическая еда </h1>-->
<!--                                <h1 class="change-text">Скидка до <span>50%</span></h1>-->

<!--                                <p><img src="../../static/assets/images/icon-slider.png" alt=""> <span>Экономия до 10%</span></p>-->
<!--                                <p><img src="../../static/assets/images/icon-slider.png" alt=""> <span>Бесплатная доставка</span></p>-->
<!--                                <p><img src="../../static/assets/images/icon-slider.png" alt=""> <span>Возврат за 24 часа</span></p>-->

<!--                                <a href="shop-left-sidebar.html" class="slider-two-btn mt-20">Начните покупать сейчас!</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="double-banner-section mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-xs-35">
                <div class="single-banner">
                    <a href="#">
                        <img src="../../static/assets/images/banners/home2-banner1-1.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="single-banner">
                    <a href="#">
                        <img src="../../static/assets/images/banners/home2-banner1-2.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slider brand-logo-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  blog slider section title  =======-->

                <div class="section-title">
                    <h3>Наши партнеры </h3>
                </div>

                <!--=======  End of blog slider section title  =======-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--=======  brand logo wrapper  =======-->

                <div class="brand-logo-wrapper pt-20 pb-20">

                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand1.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->

                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand2.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand4.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand5.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->

                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand6.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->
                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand7.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand8.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img src="../../static/assets/images/brands/brand9.png" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>


                </div>

                <!--=======  End of brand logo wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of Brand logo slider  ======-->


<!--=============================================
=            Footer         =
=============================================-->

<footer>
    <!--=======  newsletter section  =======-->

    <div class="newsletter-section pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-20 mb-xs-20">
                    <!--=======  newsletter title =======-->

                    <div class="newsletter-title">
                        <h1>
                            <img src="../../static/assets/images/icon-newsletter.png" alt="">
                            <a href="https://wa.me/996551666000"> Напишите Нам в <br> WhatsApp </a>
                        </h1>
                    </div>

                    <!--=======  End of newsletter title  =======-->
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12">
                    <!--=======  subscription-form wrapper  =======-->

                    <div class="subscription-form-wrapper d-flex flex-wrap flex-sm-nowrap">
                        <p class="mb-xs-20">Подпишитесь на нашу рассылку, чтобы получать последние новости</p>
                        <div class="subscription-form">
                            <form id="mc-form" class="mc-form subscribe-form">
                                <input type="email" id="mc-email" autocomplete="off" placeholder="Ваш email">
                                <button id="mc-submit" type="submit">Подписывайся! </button>
                            </form>

                            <!--                            &lt;!&ndash; mailchimp-alerts Start &ndash;&gt;-->
                            <!--                            <div class="mailchimp-alerts">-->
                            <!--                                <div class="mailchimp-submitting"></div>-->
                            <!--                                &lt;!&ndash; mailchimp-submitting end &ndash;&gt;-->
                            <!--                                <div class="mailchimp-success"></div>-->
                            <!--                                &lt;!&ndash; mailchimp-success end &ndash;&gt;-->
                            <!--                                <div class="mailchimp-error"></div>-->
                            <!--                                &lt;!&ndash; mailchimp-error end &ndash;&gt;-->
                            <!--                            </div>-->
                            <!--                            &lt;!&ndash; mailchimp-alerts end &ndash;&gt;-->
                        </div>
                    </div>

                    <!--=======  End of subscription-form wrapper  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of newsletter section  =======-->

    <!--=======  social contact section  =======-->

    <div class="social-contact-section pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 order-2 order-md-2 order-sm-2 order-lg-1">
                    <!--=======  social media links  =======-->

                    <div class="social-media-section">
                        <h2>Подпишитесь на нас </h2>
                        <div class="social-links">
                            <a class="facebook" href="https://www.facebook.com/profile.php?id=100026075733249" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
                            <a class="instagram" href="https://www.instagram.com/vitaemarket_/" data-tooltip="Instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>

                    <!--=======  End of social media links  =======-->

                </div>
                <div class="col-lg-8 col-md-12 order-1 order-md-1 order-sm-1 order-lg-2  mb-sm-50 mb-xs-50">
                    <!--=======  contact summery  =======-->

                    <div class="contact-summery">
                        <h2>Связаться с нами</h2>

                        <!--=======  contact segments  =======-->

                        <div class="contact-segments d-flex justify-content-between flex-wrap flex-lg-nowrap">
                            <div class="single-contact d-flex mb-xs-20">
                                <div class="icon">
                                    <span class="icon_mobile"></span>
                                </div>
                                <div class="contact-info">
                                    <a href="tel:+996551666000"> Звоните нам <br>+996-551-666-000 </a>
                                </div>
                            </div>

                            <!--=======  End of single contact  =======-->
                            <!--=======  single contact  =======-->

                            <div class="single-contact d-flex">
                                <div class="icon">
                                    <span class="icon_mail_alt"></span>
                                </div>
                                <div class="contact-info">
                                    <a href="mailto:vitaemarket@mail.ru">vitaemarket@mail.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=======  End of contact summery  =======-->
                </div>
            </div>
        </div>
    </div>


    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="../../static/assets/js/vendor/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="../../static/assets/js/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="../../static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="../../static/assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="../../static/assets/js/main.js"></script>

</body>

</html>