{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="product-detail">
        <h1>{{ product.name}}</h1>
        <div class="col-md-4 col-6">
            <img width="180%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
      		alt="product_image">
        </div>
        <h1>{{ product.description}}</h1>
        <h1>Цена: {{ product.cost}} сом</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
        </h2>
    </div>
{% endblock %}


{% block slider %}
<div class="slider related-product-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  multisale  slider section title  =======-->

                <div class="section-title">
                    <h3>Популярные товары</h3>
                </div>

                <!--=======  End of multisale slider section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  related product slider wrapper  =======-->

                <div class="related-product-slider-wrapper">
                    <!--=======  single related slider product  =======-->

                    <div class="gf-product related-slider-product">
                        <div class="image">
                            <a href="{% url 'shop:home_list' %}">
                                <span class="onsale">Sale!</span>
                                <img src="/media/products/2020/05/26/%D0%9A%D1%83%D1%80%D0%BA%D1%83%D0%BC%D0%B0.jpg" class="img-fluid" alt="">
                            </a>
                            <div class="product-hover-icons">
                                <a href="#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-categories">
                                <a href="{% url 'shop:home_list' %}">Полезное меню</a>,
                                <a href="{% url 'shop:home_list' %}">Специи </a>
                            </div>
                            <h3 class="product-title"><a href="{% url 'shop:home_list' %}">Куркума молотая</a></h3>
                        </div>

                    </div>

                    <!--=======  End of single related slider product  =======-->
                    <!--=======  single related slider product  =======-->

                    <div class="gf-product related-slider-product">
                        <div class="image">
                            <a href="{% url 'shop:home_list' %}">
                                <span class="onsale">Sale!</span>
                                <img src="/media/products/2020/06/04/FLAX_energy_Risoviy.jpg" class="img-fluid" alt="">
                            </a>
                            <div class="product-hover-icons">
                                <a href="#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-categories">
                                <a href="{% url 'shop:home_list' %}">Правильное питание</a>,
                                <a href="{% url 'shop:home_list' %}">Батончики </a>
                            </div>
                            <h3 class="product-title"><a href="{% url 'shop:home_list' %}">FLAX Energy рисовый</a></h3>
                        </div>

                    </div>

                    <!--=======  End of single related slider product  =======-->
                    <!--=======  single related slider product  =======-->

                    <div class="gf-product related-slider-product">
                        <div class="image">
                            <a href="{% url 'shop:home_list' %}">
                                <span class="onsale">Sale!</span>
                                <img src="/media/products/2020/06/04/zernotea_box_L_f_600%D1%85600.jpg" class="img-fluid" alt="">
                            </a>
                            <div class="product-hover-icons">
                                <a href="#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-categories">
                                <a href="{% url 'shop:home_list' %}">Полезное меню</a>,
                                <a href="{% url 'shop:home_list' %}">Чай на травах</a>
                            </div>
                            <h3 class="product-title"><a href="{% url 'shop:home_list' %}">Зернoчай ячменный</a></h3>
                        </div>

                    </div>

                    <!--=======  End of single related slider product  =======-->
                    <!--=======  single related slider product  =======-->

                    <div class="gf-product related-slider-product">
                        <div class="image">
                            <a href="{% url 'shop:home_list' %}">
                                <span class="onsale">Sale!</span>
                                <img src="/media/products/2020/05/25/%D0%9C%D1%83%D0%BA%D0%B0_%D0%9A%D0%BE%D0%BD%D0%BE%D0%BF%D0%BB%D1%8F%D0%BD%D0%B0%D1%8F_R.jpg" class="img-fluid" alt="">
                            </a>
                            <div class="product-hover-icons">
                                <a href="#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-categories">
                                <a href="{% url 'shop:home_list' %}">Правильное питание</a>,
                                <a href="{% url 'shop:home_list' %}">Семена SuperFood </a>
                            </div>
                            <h3 class="product-title"><a href="{% url 'shop:home_list' %}">Мука конопляная 200 г</a></h3>
                        </div>

                    </div>

                    <!--=======  End of single related slider product  =======-->
                    <!--=======  single related slider product  =======-->

                    <div class="gf-product related-slider-product">
                        <div class="image">
                            <a href="{% url 'shop:home_list' %}">
                                <span class="onsale">Sale!</span>
                                <img src="/media/products/2020/05/25/%D0%9A%D0%B0%D1%88%D0%B0_%D0%BB%D1%8C%D0%BD%D1%8F%D0%BD%D0%B0%D1%8F_%D1%81_%D1%8F%D0%B1%D0%BB%D0%BE%D0%BA%D0%BE%D0%BC_R_1500%D1%851500.jpg" class="img-fluid" alt="">
                            </a>
                            <div class="product-hover-icons">
                                <a href="#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-categories">
                                <a href="{% url 'shop:home_list' %}">Правильное питание</a>,
                                <a href="{% url 'shop:home_list' %}">Каши </a>
                            </div>
                            <h3 class="product-title"><a href="{% url 'shop:home_list' %}">Каша льняная с яблоком 250 г. </a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



